---
---
/*=======( Original Theme )===================================================*/

@import "{{ site.theme }}";

/*============================================================================*/

/*=======( Archives )=========================================================*/

.archive-type--tag::after,
.archive-type--tag::before {
    content: '"';
}

/*=======( Breadcrumbs )======================================================*/

.breadcrumbs {
    padding: 0;
}

.breadcrumbs__item {
    display: inline-block;
}

.breadcrumbs__item:before {
    /* Uses » to separate breadcrumbs */
    content: '\00BB';
}

.breadcrumbs__item:first-child:before {
    display: none;
}

.breadcrumbs__item:last-child {
    opacity: 0.5;
}

/*=======( Liquid Tags )======================================================*/

.liquid-tag {
    border: 1px solid;
    color: #0366d6;
    display: inline-block;
    padding: 0.35em;
}

/*=======( Page Header )======================================================*/
  .page-header {
      display: flex;
  }

  .page-header > div {
      margin: 1em;
  }

/*=======( Table-of-Contents )================================================*/

.section-nav {
    background-color: #F9F9F9;
    border: 1px solid #9F9F9F;
    font-size: 95%;
    padding: 0 1em 0.35em 1em;
}

.section-nav::before {
    content: "Contents";
    display: block;
    font-weight: 700;
    padding-top: 0.35em;
    text-align: center;
    width: 100%;
}

.section-nav {
    list-style-type: upper-roman;
}
.section-nav ul {
    list-style-type: decimal;
}

.toc-entry {
    white-space: nowrap;
}

/*=======( Tag List Page )====================================================*/

.tags-list .section-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.tags-list .section-nav::before {
    content: "Available Tags";
}

.tags-list .toc-entry {
    display: block;
    padding: 0 0.2em;
    border-radius: 0.35em;
    background: #0366d6;
    color: white;
}

.tags-list .toc-entry a {
    color: inherit;
}
