---
layout: default
---
<h1>
  All posts for the {{ page.type }}

  <span class="archive-type archive-type--{{ page.type }}"
  >{{ page.url | split: "/" | last }}</span>
</h1>

{% include breadcrumbs.lqd.html %}

<ul class="posts">
  {% for post in page.posts %}
    {% if post.date %}
    <li>
      <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
      (<span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>)
    </li>
    {% endif %}
{% endfor %}
</ul>
